*{
    box-sizing: border-box;
}

body {
    font-family: Georgia, serif;  
    background-color: beige;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    
}

.wrapper{
    display: grid;
    grid-template-columns: 20% 80%;
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: bisque;
}

nav li{
    display: inline;
    list-style-type: none;
}

nav li :hover{
    background-color: lime;
}





.sub-title{
    /* background-color: blue; */
    text-align: end;
    background-color: lightcoral;
}

.about-title{
    grid-column: 1/2;
}

.about-text{
    grid-column: 2/3;
}

.work-title{
    grid-column: 1/2;
}

.work-details{
    grid-column: 2/3;
}

.contact-title{
    grid-column: 1/2;
}

.contact-info{
    grid-column: 2/3;
    font-size: x-large;
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
    main, nav {
        flex-direction: column;
    }
}

@media screen and (max-width: 560px) {
    main, nav {
        flex-direction: column;
    }
    h1 {
        font-size: 16px;  
    }
    .contact h4 {
        font-size: 18px;
    }
    .contact-me a {
        font-size: 18px;
        text-decoration: none;
        padding: 10px;
        color: rgb(34, 32, 32);
       }
       
} 
