* {
    box-sizing: border-box; 
   
}
.wrapper{
  display: grid;
  grid-template-columns: 20% 80%;
}


nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(245, 235, 222);
  margin:  0;
 
}


nav li{
  display: inline;
  list-style-type: none;
  
}

nav li :hover{
  background-color: burlywood;
}

nav li a{
  color: rgb(34, 32, 32);
  padding: 10px 15px;
  margin-right: 8px;

}

nav h1 {
  font-size: 32px;
  padding: 5px;
  margin: 0;
}
h2 {
  font-size: 34px;
  margin-right: 1%;
}
.details p {
  margin-bottom: 20px;
}
.details > div {
  flex: 0 0 88%;
}
  .flex-item:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .flex-item h3 {
    font-size: 1.6rem;
  }

.sub-title{
  text-align: end;

  background-color: rgb(245, 235, 222);
}


/* .about-title{
  grid-column: 1/2;
}

.about-text{
  grid-column: 2/3;
} */

.about-title{
    grid-column: 1/2;
    font-size: 46px;
    margin-top: 8px;
    background-color: rgb(250, 251, 253);
}

.about-text{
    grid-column: 2/3;
    margin-top: 20px;
    font-size: 22px;
    background-color: rgb(250, 251, 253);
}


.work-title{
    grid-column: 1/2;
    font-size: 46px;
    background-color: rgb(250, 251, 253);
}


.work-details{
    grid-column: 2/3;
    font-size: 14px;
    background-color: rgb(250, 251, 253);
}

.work-details h3 {
    font-size: 24px;
}

.work-details span {
    font-size: 12px;
}



.cards {
    /* margin: 0 auto; */
    display: flex;
   flex-wrap: wrap;
   margin-top: 3%;
}
.card {
    flex: 1 0 0;
    border: 5px solid black;
    padding: 5px;
}

header {
    padding: 5px;
    background: aliceblue;
    color: brown;
    font-size: 11px;
    text-align: center;
  }
  


.cards img {
    width: 100%;
    min-width: 400px;
}

.card p {
    /* MC styling*/
    background: aliceblue;
    margin: 0;
    height: 30px;
    color: brown;
    padding: 5px;
    text-align: center;
    font-size: 12px;

}

.card img {
    width: 30%;
    min-width: 100px;
    
}

/* picture and sub-title */
.pimg {
  /* background: aliceblue; */

  padding: 3px 6px;

}

/* .flex-item {
    border: 5px solid aqua;
    background-color: aquamarine;
    color: var(--tertiary);
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(50% - 1em);
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin: 0.5em;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 150%;
    transition: all 0.5s;
    font-size: 0.9rem;
  }
   */

  .flex-item-1 {
    
    border: 5px solid blanchedalmond;
    background-color: burlywood;
    color: var(--tertiary);
    width: 20%;
    text-decoration: none;
    background-blend-mode: soft-light;
    transition: all 0.5s;
    font-size: 0.9rem;
  }


.contact-info{
    grid-column: 2/3;
    font-size: 24px;
    margin-top: 20px;
    background-color: rgb(250, 251, 253);
}


.contact-info a {
    text-decoration: none;
    color: rgb(34, 32, 32);
    background-color: rgb(250, 251, 253);
}
 

.contact-info a:hover {
    background: bisque;
    border: 1px solid black;
    border-radius: 8px;
}
    

footer {
  background-color: rgb(245, 235, 222);
  width: 100%;
  height: 90px;
  line-height: 90px;
  text-align: center;
  font-size: 12px;
  font-weight: 700;

}



@media screen and (max-width: 768px) {
    main, nav {
        flex-direction: column;
    }
}


@media screen and (max-width: 560px) {
    main, nav {
        flex-direction: column;
    }
    h1 {
        font-size: 16px;  
    }
    .contact h4 {
        font-size: 18px;
    }
    .contact-me a {
        font-size: 18px;
        text-decoration: none;
        padding: 10px;
        color: rgb(34, 32, 32);
       }
       
     
} 
